h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

@font-face {
  font-display: swap;
  font-family: amsterdam;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amsterdam.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: constan;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/constan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: avander;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/avander.otf"), url("../fonts/avander.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: allaina;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Allaina-Regular.otf"), url("../fonts/Allaina-Regular.ttf") format("truetype");
}
/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap;
  font-family: cormorant;
  font-weight: 400;
  src: url("../fonts/cormorant-garamond-v16-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v16-latin-regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/Background.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 379px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42) 90%);
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(132, 33, 33, 0.1450980392);
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  color: #fff;
  z-index: 100;
  padding: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.navbar__btn {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.navbar__logo {
  font-family: cormorant;
  font-size: 25px;
  color: #fff;
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f6f6f6;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: 400;
}

.menu-open {
  left: 0;
}

.menu-button {
  cursor: pointer;
}

.menu-icon {
  color: #5f5f5f;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Overlay background color and opacity */
  display: none;
  z-index: 99;
}

.menu-open + .menu-overlay {
  display: block;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  /* Adjust the right position */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  background-color: #842121;
  color: #fff;
}

.hero__container {
  margin-bottom: 50px;
}
.hero__header {
  font-size: 50px;
  font-family: amsterdam;
  color: #D2A650;
  text-align: center;
  margin-top: 90px;
  line-height: 70px;
}
.hero__subheader {
  font-size: 40px;
  font-family: amsterdam;
  color: #D2A650;
  text-align: center;
  line-height: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__answer-label {
  font-family: constan;
  font-size: 18px;
}
.main__form-submit {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  background-color: #842121;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.main__form-header {
  font-size: 18px;
  font-family: constan;
  margin-bottom: 10px;
}
.main__body {
  font-family: constan;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
  max-width: 280px;
}
.main__calendar-day {
  font-family: allaina;
  color: #842121;
  font-size: 60px;
  line-height: 60px;
}
.main__calendar-img {
  margin-bottom: 30px;
  max-width: 900px;
}
.main__calendar-item {
  font-family: constan;
  font-size: 16px;
}
.main__calendar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.main__calendar-month-name {
  font-family: constan;
  font-size: 18px;
  margin-bottom: 20px;
}
.main__calendar-weekday, .main__calendar-month {
  font-family: avander;
  font-size: 25px;
  color: #842121;
}
.main__calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}
.main__container {
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.main__dress-body {
  font-family: constan;
  font-family: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.main__dress-header {
  font-family: amsterdam;
  font-size: 35px;
  color: #842121;
  margin-bottom: 30px;
}
.main__dress-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6A6763;
}
.main__dress-item:nth-child(2) {
  background-color: #fff;
}
.main__dress-item:nth-child(3) {
  background-color: #842121;
}
.main__dress-item:nth-child(4) {
  background-color: #10473B;
}
.main__dress-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  margin-bottom: 50px;
}
.main__footer-img {
  max-width: 300px;
  margin-bottom: 20px;
}
.main__footer-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #842121;
}
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form-input {
  border: none;
  outline: none;
  background: none;
  border: 2px solid #842121;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 300px;
  margin-bottom: 10px;
}
.main__guest-body {
  font-family: constan;
  font-size: 18px;
  text-align: center;
  margin-bottom: 28px;
}
.main__guest-header {
  font-family: avander;
  font-size: 35px;
  color: #842121;
}
.main__header {
  font-family: avander;
  color: #842121;
  font-size: 45px;
  margin-bottom: 20px;
}
.main__location-address {
  font-family: cormorant;
  font-size: 18px;
  margin-bottom: 15px;
  color: #842121;
}
.main__location-header {
  font-family: avander;
  font-size: 30px;
  margin-bottom: 15px;
}
.main__location-img {
  margin-top: 50px;
  margin-bottom: 30px;
}
.main__location-place {
  font-family: constan;
  font-size: 18px;
  padding: 10px 23px;
  background-color: #842121;
  color: #fff;
  margin-bottom: 15px;
}
.main__iframe {
  max-width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
.main__location-yandex {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: constan;
  font-size: 18px;
  color: #fff;
  padding: 6px 19px;
  background-color: #343434;
  margin-bottom: 50px;
}
.main__month-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.main__program-header {
  font-family: avander;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #842121;
  margin-top: 70px;
  margin-bottom: 30px;
}
.main__program-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}
.main__program-item-header {
  font-family: avander;
  font-size: 25px;
}
.main__program-item-time {
  font-family: allaina;
  font-size: 25px;
  padding: 3px 50px 3px 15px;
  background-color: #842121;
  border-radius: 40px 0px 0px 40px;
  color: #fff;
  margin-right: 25px;
}
.main__program-item:nth-child(2) .main__program-item-time {
  padding: 3px 50px 3px 25px;
}
.main__program-item:nth-child(1) .main__program-item-time {
  padding: 3px 50px 3px 25px;
}
.main__program-item:nth-child(4) .main__program-item-time {
  padding: 3px 50px 3px 23px;
}
.main__program-item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.main__program-item-wrapper::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 0%;
  background-image: url("../img/banquet.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 5px solid rgba(255, 255, 255, 0.65);
}
.main__program-item:nth-child(2) .main__program-item-wrapper::after {
  background-image: url("../img/Show.jpg");
  background-size: cover;
}
.main__program-item:nth-child(3) .main__program-item-wrapper::after {
  background-image: url("../img/Awards.jpg");
  background-size: cover;
}
.main__program-item:nth-child(4) .main__program-item-wrapper::after {
  background-image: url("../img/Presents.jpg");
  background-size: cover;
}
.main__program-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.main__time-body {
  font-size: 13px;
  font-family: constan;
}
.main__time-header {
  font-size: 20px;
  font-family: amsterdam;
  margin-bottom: 40px;
  color: #842121;
  text-align: center;
}
.main__time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__time-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main__time-number {
  font-family: avander;
  font-size: 40px;
  color: #842121;
}
.main__time-subheader {
  font-size: 20px;
  font-family: avander;
  margin-bottom: 10px;
}
.main__calendar-img-wrapper {
  position: relative;
}
.main__calendar-img-wrapper::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 55px;
  height: 50px;
  background-image: url("../../img/sh.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: calc(0% + 22px);
  left: calc(0% + 93px);
}/*# sourceMappingURL=main.css.map */