h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

@font-face {
  font-display: swap;
  font-family: amsterdam;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amsterdam.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: constan;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/constan.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: avander;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/avander.otf"), url("../fonts/avander.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: allaina;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Allaina-Regular.otf"), url("../fonts/Allaina-Regular.ttf") format("truetype");
}
/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap;
  font-family: cormorant;
  font-weight: 400;
  src: url("../fonts/cormorant-garamond-v16-latin-regular.woff2") format("woff2"), url("../fonts/cormorant-garamond-v16-latin-regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/Background.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100vh;
}

.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.hero__container {
  margin-bottom: 50px;
}
.hero__header {
  font-size: 50px;
  font-family: amsterdam;
  color: #D2A650;
  text-align: center;
  margin-top: 75px;
  line-height: 70px;
}
.hero__subheader {
  font-size: 40px;
  font-family: amsterdam;
  color: #D2A650;
  text-align: center;
  line-height: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__answer-label {
  font-family: constan;
  font-size: 18px;
}
.main__form-submit {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  background-color: #842121;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.main__form-header {
  font-size: 18px;
  font-family: constan;
  margin-bottom: 10px;
}
.main__body {
  font-family: constan;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.main__calendar-day {
  font-family: allaina;
  color: #842121;
  font-size: 60px;
  line-height: 60px;
}
.main__calendar-img {
  margin-bottom: 30px;
  max-width: 900px;
}
.main__calendar-item {
  font-family: constan;
  font-size: 16px;
}
.main__calendar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.main__calendar-month-name {
  font-family: constan;
  font-size: 18px;
  margin-bottom: 20px;
}
.main__calendar-weekday, .main__calendar-month {
  font-family: amsterdam;
  font-size: 25px;
  color: #842121;
}
.main__calendar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 25px;
}
.main__container {
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.main__dress-body {
  font-family: constan;
  font-family: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.main__dress-header {
  font-family: amsterdam;
  font-size: 35px;
  color: #842121;
  margin-bottom: 30px;
}
.main__dress-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #6A6763;
}
.main__dress-item:nth-child(2) {
  background-color: #fff;
}
.main__dress-item:nth-child(3) {
  background-color: #842121;
}
.main__dress-item:nth-child(4) {
  background-color: #10473B;
}
.main__dress-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  margin-bottom: 50px;
}
.main__footer-img {
  max-width: 300px;
  margin-bottom: 20px;
}
.main__footer-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #842121;
}
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__form-input {
  border: none;
  outline: none;
  background: none;
  border: 2px solid #842121;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 300px;
  margin-bottom: 10px;
}
.main__guest-body {
  font-family: constan;
  font-size: 18px;
  text-align: center;
  margin-bottom: 28px;
}
.main__guest-header {
  font-family: avander;
  font-size: 35px;
  color: #842121;
}
.main__header {
  font-family: avander;
  color: #842121;
  font-size: 45px;
  margin-bottom: 20px;
}
.main__location-address {
  font-family: cormorant;
  font-size: 18px;
  margin-bottom: 15px;
}
.main__location-header {
  font-family: avander;
  font-size: 30px;
  margin-bottom: 15px;
}
.main__location-img {
  margin-top: 50px;
  margin-bottom: 30px;
}
.main__location-place {
  font-family: constan;
  font-size: 18px;
  padding: 10px 23px;
  background-color: #842121;
  color: #fff;
  margin-bottom: 15px;
}
.main__iframe {
  max-width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
.main__location-yandex {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: constan;
  font-size: 18px;
  color: #fff;
  padding: 6px 19px;
  background-color: #343434;
  margin-bottom: 50px;
}
.main__month-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.main__program-header {
  font-family: avander;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  color: #842121;
  margin-top: 70px;
  margin-bottom: 30px;
}
.main__program-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__program-item-header {
  font-family: amsterdam;
  font-size: 25px;
}
.main__program-item-time {
  font-family: allaina;
  font-size: 25px;
  padding: 3px 50px 3px 15px;
  background-color: #842121;
  border-radius: 40px 0px 0px 40px;
  color: #fff;
  margin-right: 25px;
}
.main__program-item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.main__program-item-wrapper::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 0%;
  background-image: url("../../img/banquet.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 5px solid rgba(255, 255, 255, 0.65);
}
.main__program-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}
.main__time-body {
  font-size: 13px;
  font-family: constan;
}
.main__time-header {
  font-size: 40px;
  font-family: amsterdam;
  margin-bottom: 40px;
}
.main__time-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__time-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main__time-number {
  font-family: avander;
  font-size: 40px;
}
.main__time-subheader {
  font-size: 20px;
  font-family: avander;
  margin-bottom: 10px;
}
.main__calendar-img-wrapper {
  position: relative;
}
.main__calendar-img-wrapper::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 55px;
  height: 65px;
  background-image: url("../../img/sh.png");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: calc(0% + 15px);
  left: calc(0% + 85px);
  transform: rotate(45deg);
}/*# sourceMappingURL=main.css.map */