@font-face {
  font-display: swap;
  font-family: amsterdam;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amsterdam.ttf') format('truetype')
}

@font-face {
  font-display: swap;
  font-family: constan;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/constan.ttf') format('truetype')
}

@font-face {
  font-display: swap;
  font-family: avander;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/avander.otf'),
    url('../fonts/avander.ttf') format('truetype')
}

@font-face {
  font-display: swap;
  font-family: allaina;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Allaina-Regular.otf'),
    url('../fonts/Allaina-Regular.ttf') format('truetype')
}

/* cormorant-garamond-regular - latin */
@font-face {
  font-display: swap;
  font-family: cormorant;
  font-weight: 400;
  src: url('../fonts/cormorant-garamond-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/cormorant-garamond-v16-latin-regular.ttf') format('truetype');
}