html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/Background.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100vh;
}